
	* {
        box-sizing:border-box;
        margin:0px;
        padding:0px;
    }

    .article {
        width: 100vw;
        height: 100vh;
    }   

    .article1 {
        background-color: red;
    }   

    .article2 {
       background-color: green;
       ;
    }   

    .article3 {
        background-color: yellow;
    }   

    